body {
    align-content: center;
    background-color: black;
}
.banner{
    align-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 500px;
    height: 500px;
    
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
}
@keyframes autoRun{
    0%{
        transform: perspective(500px) rotateZ(30deg) rotateX(50deg) rotateY(0deg);
    }
    100%{
        transform: perspective(500px) rotateZ(30deg) rotateX(50deg) rotateY(360deg) ;
    }
}
.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))   
    translateZ(550px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    transition: 0.5s;
}
.banner .content{
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.banner .content h1{
    font-family: 'ICA Rubrik';
    font-size: 16em;
    line-height: 1em;
    color: #f3f3f3;
}
.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    
}
.banner .content .author{
    font-family: poppins;
    text-align: right;
    max-width: 200px;
}
.banner .content h2{
    font-size: 3em;
}
.banner .content .model{
    background-image: url(https://i.pinimg.com/736x/bf/98/3b/bf983b8d754383e3c02bbbaae96baea8.jpg);
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 50%;
    background-position: center;
    background-repeat: no-repeat;
}